.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 100vh;
    .card{
        width: 1000px;
        height: 500px;
        border-radius: 50px;
        overflow: hidden;
    }
}