@import "../../App.scss";

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 100vh;
    @include mobile{
        margin: 0 5px;
    }
    .card{
        width: 750px;
        height: 400px;
        border-radius: 20px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        h2{
            font-size: 20px;
            color: black;
            margin-top: 30px;
        }
        .content{
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include mobile{
                flex-direction: column-reverse;
                p{
                    height: 40%;
                    margin-top: 20px;
                }
                a{
                    margin-left: 25px;
                }
            }
            p{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 30px;
                margin-right: 30px;
                margin-left: 25px;
                position: relative;
                top: -20px;
                color: black;
                .link{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    border: none;
                    width: 50%;
                    height: 30px;
                    background-color: black;
                    color: white;
                    box-shadow: 3px 3px 10px rgba   (0,0,0,0.5);
                    border-radius: 5px;
                    cursor: pointer;
                 }   
                .link:hover{
                    transition: transform .25s ease-out;
                    transform: scale(1.05);
                }
            }
            p::first-letter{
                font-size: larger
            }
            a{
                display: flex;
                width: 65%;
                margin-right: 25px;
                border-radius: 10px;
                box-shadow: 3px 3px 7px rgb(0,0,0,0.5);
                overflow: hidden;
                img{
                    width: 100%;
                } 
            }
        }
    }
}