@import "../../App.scss";

.hero{
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    overflow: hidden;
    position: relative;
    @include mobile {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .menu{
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile{
            margin-top: 0px;
            display: none;
        }
        
        .images{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            background-color: rgba(128,128,128,0.3);
            border: 1px solid rgba(128,128,128,0.9);
            border-radius: 20px;
            padding: 5px;
            padding-inline: 10px;
            
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                
                img{                   
                    width: 25px;
                    transition: transform 0.3s ease-in-out;
                    &:hover{
                        transform: scale(2);
                    }
                    @include mobile{
                          
                    }
                }
            }
        }
    }
    .wrapper{
        max-width: 1280px;
        height: 100%;
        margin: auto;
        @include mobile{
            display: flex;
            justify-content: center;
        }
        .textContainer{
            position: absolute;
            z-index: 2;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            @include mobile{
                align-items: center;
                bottom: -60px;
            }
            h2{
                letter-spacing: 10px;
                font-size:30px;
                color: #87ceeb;
                @include mobile{
                    font-size: 20px;
                }
            }
            h1{
                font-size: 88px;
                @include mobile{
                    font-size: 50px;
                }
            }
            img{
                    width:60px;   
            }
            .buttons{
                button{
                    padding:20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    margin-right: 20px;
                    cursor: pointer;
                    font-weight: 300;     
                    scroll-behavior: smooth;
                }
                .button1{
                    background-color: transparent;
                    color: white;
                    scroll-behavior: smooth;
                }
            }
            .cursor{
                @include mobile{
                    display: none;
                }
            }
        } 
    }
    .scrollingText{
        position: absolute;
        bottom: -220px;
        height: 100%;
        font-size: 50vh;
        white-space: nowrap;
        color: white;
        opacity: 5%;
        @include mobile{
            font-size: 25vh;
            bottom: 0px;
        
        }
    }
    .imageContainer{
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        display: flex;  
        margin-right: -90px;
        @include mobile{
            margin-right: 0;
            margin-top: 10px;
            
        }
        img{
            width: 100%;
            @include mobile{
                height: 50%;
                object-fit: cover;
            }
        }
    }
}