.navbar{
    height: 100px;
    
    .wrapper{
        margin: auto;
        max-width: 1280px;
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        .social{
            position: absolute;
            display: flex;
            justify-content: end;
            width: 100%;
            gap: 10px;
            a{
                img{
                    width: 30px;
                }
            }
        }

    }
}